<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Finalproject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".reserved_room"
            android:exported="true" />
        <activity
            android:name=".cancellationofreservation"
            android:exported="true" />
        <activity
            android:name=".room_recycleview"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confEat"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".rest_recycleview"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reservations"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".updateroom"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deleteroom"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewuser"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".swimming"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRoom"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searchRoom"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mainpage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>